%p
    = link_to 'Login'
    = link_to 'Signup'
    = checkout_link

%h1 Cibus
%p Welcome to the tasty world of Cibus!

%table   
%thead Starters
%table
%thead
%tr
    %th Name
    %th Description
    %th Price
    %th Currency
    %th Quantity
    %tbody
%table
- @dishes.each do |dish|
    %tr
        %td= dish.name
        %td= dish.description
        %td= dish.price
    %tr    
        %td SEK

        %td
            = add_to_cart(dish, 1, 'Add to cart')
%p
    = link_to 'Order'