%p
    = link_to 'Login'
    = link_to 'Signup'
%h1 Cibus
%p Welcome to the tasty world of Cibus!


%table   
%thead Starters

%table
%thead
%tr
    %th Name
    %th Description
    %th Price
    %th Currency
    %tbody
%table
- @dishes.each do |dish|
    %tr
        %td= dish.name
        %td= dish.description
        %td= dish.price
    %tr    
        %td SEK

        %td
            %form.number.field(action="Quantity")
%p 
    = link_to 'order'




        