%p
    = link_to 'Login'
    = link_to 'Signup'
%h1 Cibus
%p Welcome to the tasty world of Cibus!

%table
- @dishes.each do |dish|
    %h2= dish.category
    %p= dish.name
    %p= dish.description
    %p= dish.price
    %tr
        %td SEK

        %td
            = number_field_tag 'Quantity', nil, min: 1, max: 10, step: 1
%p
    = link_to 'Order'