%p
    = link_to 'Login'
    = link_to 'Signup'
%h1 Cibus
%p Welcome to the tasty world of Cibus!

%h3 Starters
= render 'shared/display_starters'

%h3 Main Courses
= render 'shared/display_mains'

%h3 Desserts
= render 'shared/display_desserts'

%p
    = link_to 'Order'