%p
    = link_to 'Login'
    = link_to 'Signup'
    
%h1 Cibus
%p Welcome to the tasty world of Cibus!

%h3 Starters
- @dishes.each do |dish|
    - if dish.category == 'Starters'
        %p= dish.name
        %p= dish.description
        %p= "#{dish.price} SEK"
        %td
            = number_field_tag 'Quantity', nil, min: 1, max: 10, step: 1
        %p
            = link_to 'Order'
        

%h3 Main Courses
- @dishes.each do |dish|
    - if dish.category == 'Main Courses'
        %p= dish.name
        %p= dish.description
        %p= "#{dish.price} SEK"
        %td
            = number_field_tag 'Quantity', nil, min: 1, max: 10, step: 1
        %p
            = link_to 'Order'
%h3 Desserts
- @dishes.each do |dish|
    - if dish.category == 'Desserts'
        %p= dish.name
        %p= dish.description
        %p= "#{dish.price} SEK"
        %td
            = number_field_tag 'Quantity', nil, min: 1, max: 10, step: 1
        %p
            = link_to 'Order'



            shop_icon_quantity