%p
    = link_to 'Login'
    = link_to 'Signup'
%h1 Cibus
%p Welcome to the tasty world of Cibus!

%table   
%thead Starters
%table
%thead
%tr
    %th Name
    %th Description
    %th Price
    %th Currency
    %th Quantity
    %tbody
%table
- @dishes.each do |dish|
    %tr
        %td= dish.name
        %td= dish.description
        %td= dish.price
    %tr    
        %td SEK

        %td
            = number_field_tag 'Quantity', nil, min: 1, max: 10, step: 1
%p 
    = link_to 'Order'