%p
    = link_to 'Login'
    = link_to 'Signup'
    = checkout_link
    = shop_icon_quantity
    //= link_to cartify.order_items_path(order_item: {quantity: 7, product_id: product.id}), 
    //{ method: :post, remote: true }

%h1 Cibus
%p Welcome to the tasty world of Cibus!

%h3 Starters
- @dishes.each do |dish|
    - if dish.category == 'Starters'
        %p= dish.name
        %p= dish.description
        %p= "#{dish.price} SEK"
        %td
            = add_to_cart(dish, 1, 'Add to cart')
    
%h3 Main Courses
- @dishes.each do |dish|
    - if dish.category == 'Main Courses'
        %p= dish.name
        %p= dish.description
        %p= "#{dish.price} SEK"
        %td
            //= add_to_cart(dish, 1, 'Add to cart')

%h3 Desserts
- @dishes.each do |dish|
    - if dish.category == 'Desserts'
        %p= dish.name
        %p= dish.description
        %p= "#{dish.price} SEK"
        %td
            //= add_to_cart(dish, product_id, 'Add to cart')
%p
