%p.text-xs.text-right.bg-blue-dark.text-white
    = link_to 'Login'
    = link_to 'Signup'
    = shop_icon_quantity

%body
    .bg-center.bg-blue
        %nav.sticky.pin-t.flex.items-center.justify-between.flex-wrap.bg-blue.p-6.pl-8
            .flex.items-center.flex-no-shrink.text-white.mr-7
                %span.font-sans.font-light.text-5xl.tracking-tight.p-3 Cibus
                %span.font-sans.font-thin.text-3xl.tracking-tight.p-3 Welcome to the tasty world of Cibus
            .block.lg:hidden
                .w-full.block.flex-grow.lg:flex.lg:items-center.lg:w-auto
                    .text-sm.lg:flex-grow
                        %div

%h3 Starters
%table#Starters
- @dishes.each do |dish|
    - if dish.category == 'Starters'
        %tr= dish.name
        %td= dish.description
        %td= "#{dish.price} SEK"
        %td
        %span= add_to_cart(dish, quantity, button_name)


%table Main Courses
- @dishes.each do |dish|
    - if dish.category == 'Main Courses'
        %p= dish.name
        %p= dish.description
        %p= "#{dish.price} SEK"
        %td
            = add_to_cart(dish, qqty = 1, name = 'Add to cart')

%h3 Desserts
%table#Desserts
- @dishes.each do |dish|
    - if dish.category == 'Desserts'
        %p= dish.name
        %p= dish.description
        %p= "#{dish.price} SEK"
        %td
            = add_to_cart(dish, qqty = 1, name = 'Add to cart')
%p= link_to 'Proceed to checkout', cartify.checkout_index_path, id: 'checkout-link'