!!!
%html
  %head
    %title Cibus
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #notifications
      = alert 
      = notice
  
  %p 
    = link_to 'logo', root_path

  = yield